In [1]:
import gzip
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
from collections import Counter

# Reading the dataset :

In [3]:
def read_images(filename):    
    with gzip.open(filename, 'r') as f:
        magic_number = int.from_bytes(f.read(4), 'big')
        image_count = int.from_bytes(f.read(4), 'big')
        row_count = int.from_bytes(f.read(4), 'big')
        column_count = int.from_bytes(f.read(4), 'big')
        image_data = f.read()
        images = np.frombuffer(image_data, dtype=np.uint8).reshape((image_count, row_count, column_count))
        
    return images


def read_labels(filename):
    with gzip.open(filename, 'r') as f:
        magic_number = int.from_bytes(f.read(4), 'big')
        label_count = int.from_bytes(f.read(4), 'big')
        label_data = f.read()
        labels = np.frombuffer(label_data, dtype=np.uint8)
        
    return labels


dataset_path = "D:/RKMVERI MSc BDA/SEM 2/ML/ASSIGNMENTS/"

train_image_filename = ''.join([dataset_path, 'train-images-idx3-ubyte.gz'])
train_label_filename = ''.join([dataset_path, 'train-labels-idx1-ubyte.gz'])

test_image_filename = ''.join([dataset_path, 't10k-images-idx3-ubyte.gz'])
test_label_filename = ''.join([dataset_path, 't10k-labels-idx1-ubyte.gz'])

train_images = read_images(train_image_filename)
train_labels = read_labels(train_label_filename)

test_images = read_images(test_image_filename)
test_labels = read_labels(test_label_filename)

# Extracting 20% data from the training data as a validation set :

In [49]:
index = np.random.permutation(range(60000))
validation_index = index[0:1000]
training_index = index[12000:]
validation_images = train_images[validation_index]
validation_labels = train_labels[validation_index]
training_images = train_images[training_index]
training_labels = train_labels[training_index]

# Preparing the test set

In [84]:
test_temp = test_images[0:100]
test_labels_temp = test_labels[0:100]

# Implement k-NN classification rule/algorithm

In [74]:
training_data = [i.flatten() for i in training_images]
validation_set = [i.flatten() for i in validation_images]
test_data = [i.flatten() for i in test_temp]

In [52]:
## Showing the training dataset with actual label column
df1 = training_df.copy()
training_df["labels"] = training_labels
display(df1)

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
##Instance---

def train(x_train, y_train):
    return

In [54]:
#Defining two kind of distances -  MANHATTAN & EUCLIDIAN & CHEBYSHEV'S

def manhattan_distance(x_train, x_validation):
    distances = []
    for i in range(len(x_train)):
        distance = np.sum(np.abs(x_validation- x_train[i]))
        distances.append([distance,i])
    distances = sorted(distances)
    return distances

def euclidian_distance(x_train, x_validation):
    distances = []
    for i in range(len(x_train)):
        distance = np.sqrt(np.sum(np.square(x_validation - x_train[i])))
        distances.append([distance,i])
    distances = sorted(distances)
    return distances

def chebyshev_distance(x_train, x_validation):
    distances = []
    for i in range(len(x_train)):
        distance = np.max(np.sum(np.abs(x_validation - x_train[i])))
        distances.append([distance,i])
    distances = sorted(distances)
    return distances

In [103]:
#Prediction functions using different distance functions

def predict_Manhattan(x_train, y_train, x_validation, k):
    distances = manhattan_distance(x_train, x_validation)
    label = []
    for i in range(k):
        index = distances[i][1]
        label.append(y_train[index])
    return Counter(label).most_common(1)[0][0]


def predict_Euclidian(x_train, y_train, x_validation, k):
    distances = euclidian_distance(x_train, x_validation)
    label = []
    for i in range(k):
        index = distances[i][1]
        label.append(y_train[index])
    return Counter(label).most_common(1)[0][0]

def predict_Chebyshev(x_train, y_train, x_validation, k):
    distances = chebyshev_distance(x_train, x_validation)
    label = []
    for i in range(k):
        index = distances[i][1]
        label.append(y_train[index])
    return Counter(label).most_common(1)[0][0]

In [102]:
## The main k-NN algorithms--- 

def kNN_Manhattan(x_train,y_train,x_validation, predictions, k):
        train(x_train, y_train)
        predictions = []
        for i in range(len(x_validation)):
            predictions.append(predict_Manhattan(x_train, y_train, x_validation[i], k))
        return predictions
            
def kNN_Euclidian(x_train,y_train,x_validation, predictions, k):
        train(x_train, y_train)
        predictions = []
        for i in range(len(x_validation)):
            predictions.append(predict_Euclidian(x_train, y_train, x_validation[i], k))
        return predictions
            
def kNN_Chebyshev(x_train,y_train,x_validation, predictions, k):
        train(x_train, y_train)
        predictions = []
        for i in range(len(x_validation)):
            predictions.append(predict_Chebyshev(x_train, y_train, x_validation[i], k))
        return predictions

In [59]:
## The accuracy function
def accuracy(x,y):
    x1 = np.array(x)
    y1 = np.array(y)
    return (sum(x1==y1)/len(x))*100

In [60]:
k = range(1,26,2)
print(list(k))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

# PREDICTING USING MANHATTAN DISTANCE

In [61]:
validation_pred = []
pred = []
accu = []
for i in range(len(k)):
    pred.append(kNN_Manhattan(training_data,training_labels,validation_set,pred, k[i]))

In [ ]:
accuracies = [accuracy(x,validation_labels) for x in pred]
pred.value_counts()

In [69]:
accu_df = pd.DataFrame(accuracies,k);accu_df.columns = ["Accuracies"]
print(accu_df)

    Accuracies
1         77.7
3         79.9
5         80.8
7         80.8
9         81.5
11        82.0
13        82.0
15        81.3
17        81.4
19        81.4
21        81.2
23        81.4
25        80.9

In [79]:
## Predicting on the test dataset---
test_pred = []
test_pred.append(kNN_Manhattan(training_data,training_labels,test_data,test_pred,11))

In [86]:
## CONFUSION MATRIX----
pd.crosstab(np.array(test_pred[0]),np.array(test_labels_temp))

col_0  0   1  2  3  4  5   6   7  8  9
row_0
0      8   0  0  0  1  1   0   0  0  0
1      0  14  3  3  2  2   0   0  0  2
2      0   0  4  0  0  0   0   0  0  0
3      0   0  0  8  0  0   0   0  0  0
4      0   0  0  0  9  0   0   0  0  0
5      0   0  0  0  0  4   0   0  0  0
6      0   0  0  0  0  0  10   0  0  0
7      0   0  1  0  0  0   0  14  0  0
8      0   0  0  0  0  0   0   0  2  0
9      0   0  0  0  2  0   0   1  0  9

In [87]:
accuracy(np.array(test_pred[0]),np.array(test_labels_temp))

82.0

# PREDICTING USING EUCLIDIAN DISTANCE

In [ ]:
validation_pred = []
pred = []
accu = []
for i in range(len(k)):
    pred.append(kNN_Euclidian(training_data,training_labels,validation_set,pred, k[i]))

In [97]:
accuracies = [accuracy(x,validation_labels) for x in pred]

In [98]:
accu_df = pd.DataFrame(accuracies,k);accu_df.columns = ["Accuracies"]
print(accu_df)

    Accuracies
1         77.7
3         79.9
5         80.8
7         80.8
9         81.5
11        82.0
13        82.0
15        81.3
17        81.4
19        81.4
21        81.2
23        81.4
25        80.9

In [99]:
## Predicting on the test dataset---
test_pred = []
test_pred.append(kNN_Manhattan(training_data,training_labels,test_data,test_pred,11))

In [100]:
## CONFUSION MATRIX----
pd.crosstab(np.array(test_pred[0]),np.array(test_labels_temp))

col_0  0   1  2  3  4  5   6   7  8  9
row_0
0      8   0  0  0  1  1   0   0  0  0
1      0  14  3  3  2  2   0   0  0  2
2      0   0  4  0  0  0   0   0  0  0
3      0   0  0  8  0  0   0   0  0  0
4      0   0  0  0  9  0   0   0  0  0
5      0   0  0  0  0  4   0   0  0  0
6      0   0  0  0  0  0  10   0  0  0
7      0   0  1  0  0  0   0  14  0  0
8      0   0  0  0  0  0   0   0  2  0
9      0   0  0  0  2  0   0   1  0  9

In [101]:
accuracy(np.array(test_pred[0]),np.array(test_labels_temp))

82.0

# PREDICTING USING CHEBYSHEV'S DISTANCE

In [ ]:
validation_pred = []
pred = []
accu = []
for i in range(len(k)):
    pred.append(kNN_Chebyshev(training_data,training_labels,validation_set,pred, k[i]))

In [ ]:
accuracies = [accuracy(x,validation_labels) for x in pred]

In [ ]:
accu_df = pd.DataFrame(accuracies,k);accu_df.columns = ["Accuracies"]
print(accu_df)

In [ ]:
## Predicting on the test dataset---
test_pred = []
test_pred.append(kNN_Manhattan(training_data,training_labels,test_data,test_pred,11))

In [ ]:
## CONFUSION MATRIX----
pd.crosstab(np.array(test_pred[0]),np.array(test_labels_temp))